@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import "tailwindcss";
@layer theme, base, components, utilities;

/* Utilities */
@utility cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  color: var(--color-regular);
}
@utility cal-sans-bold {
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
}
@utility cal-sans-italic {
  font-family: "Cal Sans", sans-serif;
  font-style: italic;
  color: var(--color-regular);
}
@utility cal-sans-italic-bold {
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
@utility spacing {
  letter-spacing: 0.05em;
}
@utility line-height {
  line-height: 1.5;
}

/* Theme */
@theme {
  /* Background Theme */
  --color-background: oklch(0.97 0.014 254.604);
  --color-background-hover: oklch(0.936 0.032 17.717, 0.9);

  /* Regular Theme */
  --color-regular: oklch(70.7% 0.022 261.325);
  --color-regular-hover: oklch(96.7% 0.003 264.542);

  /* Red Pink Theme */
  --color-bold-red: rgb(232, 89, 87);
  --color-bold-red-hover: rgb(232, 89, 87, 0.9);

  /* Light Theme */
  --color-light: rgb(255, 255, 255, 1);
  --color-light-hover: rgb(255, 255, 255, 0.9);

  /* Black Theme */
  --color-dark: rgb(0, 0, 0, 1);
  --color-dark-hover: rgb(0, 0, 0, 0.9);

  /* Yellow Dark Theme */
  --color-yellow-dark: oklch(0.795 0.184 86.047);
  --color-yellow-dark-hover: oklch(0.795 0.184 86.047, 0.9);

  /* Yellow Light Theme */
  --color-yellow-light: oklch(0.852 0.199 91.936);
  --color-yellow-light-hover: oklch(0.852 0.199 91.936, 0.9);

  /* Green and Light Green */
  --color-green: oklch(59.6% 0.145 163.225);
  --color-light-green: oklch(96.2% 0.044 156.743);

  /* Red */
  --color-red: oklch(57.7% 0.245 27.325);
  --color-light-red: oklch(70.4% 0.191 22.216);

  /* Blue */
  --color-blue: oklch(54.6% 0.245 262.881);
  --color-light-blue: oklch(88.2% 0.059 254.128);
  --color-blue-hover: oklch(62.3% 0.214 259.815);

  /* Delete button Color */
  --color-delete-form: oklch(0.282 0.091 267.935);

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
}

* {
  @apply box-border;
  @apply spacing;
  @apply line-height;
}
html {
  @apply box-border;
  @apply scroll-smooth;
  @apply bg-light;
}

.clip-half-circle {
  clip-path: inset(0 50% 0 0);
}

.email-popup,
.navbar-popup {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 1rem;
  transform-origin: top right;
}
