@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");
@import "tailwindcss";
@layer theme, base, components, utilities;

/* Utilities */
@utility cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  color: var(--color-regular);
}
@utility cal-sans-bold {
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
}
@utility cal-sans-italic {
  font-family: "Cal Sans", sans-serif;
  font-style: italic;
  color: var(--color-regular);
}
@utility cal-sans-italic-bold {
  font-family: "Cal Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}
@utility spacing {
  letter-spacing: 0.05em;
}
@utility line-height {
  line-height: 1.5;
}

/* Theme */
@theme {
  --color-light: rgb(255, 255, 255, 1);
  --color-foodle-glass: rgba(255, 255, 255, 0.8);

  /* Hero Section Custom Colors */

  --color-hero-orange-50: #fff7ed;
  --color-hero-orange-100: #ffedd5;
  --color-hero-orange-200: #fed7aa;
  --color-hero-orange-300: #fdba74;
  --color-hero-orange-400: #fb923c;
  --color-hero-orange-500: #f97316; /* Primary orange */
  --color-hero-orange-600: #ea580c;
  --color-hero-orange-700: #c2410c;
  --color-hero-orange-800: #9a3412;
  --color-hero-orange-900: #7c2d12;

  --color-hero-red-50: #fef2f2;
  --color-hero-red-100: #fee2e2;
  --color-hero-red-200: #fecaca;
  --color-hero-red-300: #fca5a5;
  --color-hero-red-400: #f87171;
  --color-hero-red-500: #ef4444; /* Primary red */
  --color-hero-red-600: #dc2626;
  --color-hero-red-700: #b91c1c;
  --color-hero-red-800: #991b1b;
  --color-hero-red-900: #7f1d1d;

  --color-hero-yellow-50: #fefce8;
  --color-hero-yellow-100: #fef3c7;
  --color-hero-yellow-200: #fde68a;
  --color-hero-yellow-300: #fcd34d;
  --color-hero-yellow-400: #fbbf24; /* Primary yellow */
  --color-hero-yellow-500: #f59e0b;
  --color-hero-yellow-600: #d97706;
  --color-hero-yellow-700: #b45309;
  --color-hero-yellow-800: #92400e;
  --color-hero-yellow-900: #78350f;

  --color-hero-pink-50: #fdf2f8;
  --color-hero-pink-100: #fce7f3;
  --color-hero-pink-200: #fbcfe8;
  --color-hero-pink-300: #f9a8d4;
  --color-hero-pink-400: #f472b6;
  --color-hero-pink-500: #ec4899; /* Primary pink */
  --color-hero-pink-600: #db2777;
  --color-hero-pink-700: #be185d;
  --color-hero-pink-800: #9d174d;
  --color-hero-pink-900: #831843;

  --color-hero-gray-50: #f9fafb;
  --color-hero-gray-100: #f3f4f6;
  --color-hero-gray-200: #e5e7eb;
  --color-hero-gray-300: #d1d5db;
  --color-hero-gray-400: #9ca3af;
  --color-hero-gray-500: #6b7280;
  --color-hero-gray-600: #4b5563;
  --color-hero-gray-700: #374151;
  --color-hero-gray-800: #1f2937; /* Primary text */
  --color-hero-gray-900: #111827;

  --color-hero-cyan-50: oklch(0.984 0.019 200.873);
  --color-hero-cyan-100: oklch(0.956 0.045 203.388);
  --color-hero-cyan-200: oklch(0.917 0.08 205.041);
  --color-hero-cyan-300: oklch(0.865 0.127 207.078);
  --color-hero-cyan-400: oklch(0.789 0.154 211.53);
  --color-hero-cyan-500: oklch(0.715 0.143 215.221); /* cyan */
  --color-hero-cyan-600: oklch(0.609 0.126 221.723);
  --color-hero-cyan-700: oklch(0.52 0.105 223.128);
  --color-hero-cyan-800: oklch(0.45 0.085 224.283);
  --color-hero-cyan-900: oklch(0.398 0.07 227.392);
  --color-hero-cyan-950: oklch(0.302 0.056 229.695);

  --color-hero-slate-50: oklch(0.984 0.003 247.858);
  --color-hero-slate-100: oklch(0.968 0.007 247.896);
  --color-hero-slate-200: oklch(0.929 0.013 255.508);
  --color-hero-slate-300: oklch(0.869 0.022 252.894);
  --color-hero-slate-400: oklch(0.704 0.04 256.788);
  --color-hero-slate-500: oklch(0.554 0.046 257.417); /*slate*/
  --color-hero-slate-600: oklch(0.446 0.043 257.281);
  --color-hero-slate-700: oklch(0.372 0.044 257.287);
  --color-hero-slate-800: oklch(0.279 0.041 260.031);
  --color-hero-slate-900: oklch(0.208 0.042 265.755);
  --color-hero-slate-950: oklch(0.129 0.042 264.695);

  --color-hero-white: #ffffff;
  --color-hero-white-90: rgba(255, 255, 255, 0.9);
  --color-hero-white-80: rgba(255, 255, 255, 0.8);
  --color-hero-white-50: rgba(255, 255, 255, 0.5);
  --color-hero-white-30: rgba(255, 255, 255, 0.3);
  --color-hero-white-20: rgba(255, 255, 255, 0.2);
  --color-hero-white-10: rgba(255, 255, 255, 0.1);

  /*  */
  /* Offer Section Custom Color */

  --color-offer-bg-light: #ffffff;

  --color-offer-primary-50: #fff7ed;
  --color-offer-primary-100: #ffedd5;
  --color-offer-primary-200: #fed7aa;
  --color-offer-primary-300: #fdba74;
  --color-offer-primary-400: #fb923c; /* orange-400 */
  --color-offer-primary-500: #f97316;
  --color-offer-primary-600: #ea580c;
  --color-offer-primary-700: #c2410c;
  --color-offer-primary-800: #9a3412;
  --color-offer-primary-900: #7c2d12;

  --color-offer-accent-50: #fef2f2;
  --color-offer-accent-100: #fee2e2;
  --color-offer-accent-200: #fecaca;
  --color-offer-accent-300: #fca5a5;
  --color-offer-accent-400: #f87171;
  --color-offer-accent-500: #ef4444; /* red-500 */
  --color-offer-accent-600: #dc2626;
  --color-offer-accent-700: #b91c1c;
  --color-offer-accent-800: #991b1b;
  --color-offer-accent-900: #7f1d1d;

  --color-offer-fresh-50: #f0fdf4;
  --color-offer-fresh-100: #dcfce7;
  --color-offer-fresh-200: #bbf7d0;
  --color-offer-fresh-300: #86efac;
  --color-offer-fresh-400: #4ade80; /* green-400 */
  --color-offer-fresh-500: #22c55e;
  --color-offer-fresh-600: #16a34a;
  --color-offer-fresh-700: #15803d;
  --color-offer-fresh-800: #166534;
  --color-offer-fresh-900: #14532d;

  --color-offer-emerald-50: #ecfdf5;
  --color-offer-emerald-100: #d1fae5;
  --color-offer-emerald-200: #a7f3d0;
  --color-offer-emerald-300: #6ee7b7;
  --color-offer-emerald-400: #34d399;
  --color-offer-emerald-500: #10b981; /* emerald-500 */
  --color-offer-emerald-600: #059669;
  --color-offer-emerald-700: #047857;
  --color-offer-emerald-800: #065f46;
  --color-offer-emerald-900: #064e3b;

  --color-offer-cool-50: #eff6ff;
  --color-offer-cool-100: #dbeafe;
  --color-offer-cool-200: #bfdbfe;
  --color-offer-cool-300: #93c5fd;
  --color-offer-cool-400: #60a5fa; /* blue-400 */
  --color-offer-cool-500: #3b82f6;
  --color-offer-cool-600: #2563eb;
  --color-offer-cool-700: #1d4ed8;
  --color-offer-cool-800: #1e40af;
  --color-offer-cool-900: #1e3a8a;

  --color-offer-purple-50: #faf5ff;
  --color-offer-purple-100: #f3e8ff;
  --color-offer-purple-200: #e9d5ff;
  --color-offer-purple-300: #d8b4fe;
  --color-offer-purple-400: #c084fc;
  --color-offer-purple-500: #a855f7; /* purple-500 */
  --color-offer-purple-600: #9333ea;
  --color-offer-purple-700: #7c3aed;
  --color-offer-purple-800: #6b21a8;
  --color-offer-purple-900: #581c87;

  --color-offer-golden-50: #fffbeb;
  --color-offer-golden-100: #fef3c7;
  --color-offer-golden-200: #fde68a;
  --color-offer-golden-300: #fcd34d;
  --color-offer-golden-400: #fbbf24; /* yellow-400 */
  --color-offer-golden-500: #f59e0b;
  --color-offer-golden-600: #d97706;
  --color-offer-golden-700: #b45309;
  --color-offer-golden-800: #92400e;
  --color-offer-golden-900: #78350f;

  --color-offer-neutral-50: #f8fafc;
  --color-offer-neutral-100: #f1f5f9;
  --color-offer-neutral-200: #e2e8f0;
  --color-offer-neutral-300: #cbd5e1;
  --color-offer-neutral-400: #94a3b8;
  --color-offer-neutral-500: #64748b;
  --color-offer-neutral-600: #475569;
  --color-offer-neutral-700: #334155;
  --color-offer-neutral-800: #1e293b;
  --color-offer-neutral-900: #0f172a;

  /* Menu Custom Color */

  --color-foodle-brand-50: #fff7ed;
  --color-foodle-brand-100: #ffedd5;
  --color-foodle-brand-200: #fed7aa;
  --color-foodle-brand-300: #fdba74;
  --color-foodle-brand-400: #fb923c;
  --color-foodle-brand-500: #f97316; /* Primary orange */
  --color-foodle-brand-600: #ea580c;
  --color-foodle-brand-700: #c2410c;
  --color-foodle-brand-800: #9a3412;
  --color-foodle-brand-900: #7c2d12;

  --color-foodle-accent-50: #fef2f2;
  --color-foodle-accent-100: #fee2e2;
  --color-foodle-accent-200: #fecaca;
  --color-foodle-accent-300: #fca5a5;
  --color-foodle-accent-400: #f87171;
  --color-foodle-accent-500: #ef4444; /* Primary red */
  --color-foodle-accent-600: #dc2626;
  --color-foodle-accent-700: #b91c1c;
  --color-foodle-accent-800: #991b1b;
  --color-foodle-accent-900: #7f1d1d;

  --color-foodle-warning-50: #fffbeb;
  --color-foodle-warning-100: #fef3c7;
  --color-foodle-warning-200: #fde68a;
  --color-foodle-warning-300: #fcd34d;
  --color-foodle-warning-400: #fbbf24;
  --color-foodle-warning-500: #f59e0b; /* Primary amber */
  --color-foodle-warning-600: #d97706;
  --color-foodle-warning-700: #b45309;
  --color-foodle-warning-800: #92400e;
  --color-foodle-warning-900: #78350f;

  --color-foodle-success-50: #f0fdf4;
  --color-foodle-success-100: #dcfce7;
  --color-foodle-success-200: #bbf7d0;
  --color-foodle-success-300: #86efac;
  --color-foodle-success-400: #4ade80;
  --color-foodle-success-500: #22c55e; /* Primary green */
  --color-foodle-success-600: #16a34a;
  --color-foodle-success-700: #15803d;
  --color-foodle-success-800: #166534;
  --color-foodle-success-900: #14532d;

  --color-foodle-neutral-50: #fafafa;
  --color-foodle-neutral-100: #f5f5f5;
  --color-foodle-neutral-200: #e5e5e5;
  --color-foodle-neutral-300: #d4d4d4;
  --color-foodle-neutral-400: #a3a3a3;
  --color-foodle-neutral-500: #737373;
  --color-foodle-neutral-600: #525252;
  --color-foodle-neutral-700: #404040;
  --color-foodle-neutral-800: #262626; /* Primary gray */
  --color-foodle-neutral-900: #171717;

  --text-2xs: 0.625rem;
  --text-3xs: 0.5rem;
}

* {
  @apply box-border;
  @apply spacing;
  @apply line-height;
}
html {
  @apply box-border;
  @apply scroll-smooth;
  @apply bg-light;
}

.email-popup,
.navbar-popup {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-top: 1rem;
  transform-origin: top right;
}
